<div class="container">


<h3>Reactive Form</h3>

<form class="form" [formGroup]="viform" (ngSubmit)="onSubmit()">
  <fieldset>
  <legend>Visitor  Info</legend>
  <div class="row mt-3">
    <label class="label col-md-2" for="firstName">Full Name</label>
    <input type="text" class="form-control form-control-sm col-md-6" formControlName="fullName" name="fullName"
      id="fullName" placeholder="Enter  Name" />
      <div *ngIf="viform.get('fullName')?.invalid && viform.get('fullName')?.touched">
        <div *ngIf="viform.get('fullName')?.errors?.['required']" style="color: red;">Name is required.</div>
    </div>

  </div>
  <div class="row mt-1">
    <label class="label col-md-2" for="age">Age</label>
    <input type="number" class="form-control form-control-sm col-md-6" formControlName="age" name="age"
      id="age" placeholder="age" />
      <div id="ageError" [style.visibility]='validateControl("age")? "visible": "hidden"'>
        <label class="e-error" for="age"  style="display: block;">*Age is required</label>
     </div>
  </div>

  <div class="row mt-1">
    <label class="label col-md-2" for="idType">Type</label>
    <select  formControlName="idType">
      <option value="">Choose Type</option>
      <option *ngFor="let t of idTypeList" [ngValue]="t">{{t}}</option>
    </select>
    <div *ngIf="viform.get('idType')?.invalid && viform.get('idType')?.touched">
      <div *ngIf="viform.get('idType')?.errors?.['required']" style="color: red;">Type is required.</div>
  </div>
    </div>

    <div class="row mt-1">
      <label class="label col-md-2" for="idNo">Id No</label>
      <input type="text" class="form-control form-control-sm col-md-6" formControlName="idNo" name="idNo"
        id="idNo" placeholder="Enter IdNo" />
        <div *ngIf="viform.get('idNo')?.invalid && viform.get('idNo')?.touched">
          <div *ngIf="viform.get('idNo')?.errors?.['required']" style="color: red;">Id No is required.</div>
      </div>

    </div>
 <div class="row mt-1">
  <div class="col-md-4">
    <button type="submit" class="btn btn-info ">Submit</button>
    <button type="button" class="btn btn-danger " (click)="onReset()">Reset</button>
  </div>


 </div>

  </fieldset>
</form>

<!-- <div class="row mt-3">
  {{viform.value | json}}
</div> -->
</div>
